body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.image {
    height: 22px;
    width: auto;
}

.imagecaro {
    height: 260px;
    width: auto;
}

.imageshare {
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: auto;
    width: 92px;
}

.imagerate {
    padding-left: 15px;
    height: auto;
    width: 30px;
}

.navbar .brand {
    color:#ffffff;
}

.hero-unitplain {
    padding: 40px;
    line-height: 30px;
    color: inherit;
    background-color: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.hero-unitplain h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}

.hero-unitplain li {
    line-height: 30px;
}

.hero-unit1 {
    padding: 40px;
    line-height: 30px;
    color: inherit;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.hero-unit1 h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}

.hero-unit1 li {
    line-height: 30px;
}

.img-search {
  max-height: 120px;
  max-width: 120px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.fb-like {
  overflow: hidden;
  height: 27.5px;
}

.fb-like iframe {
  left: 0 !important;
}

.dropdown-menu {
  min-width: 80px;
}

.offset0 {
  margin-left: 30px;
}