<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About Piata</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/bootstrap/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/main">Piata</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/main">Home</a></li>
                    <li><a href="/buy">Buy</a></li>
                    <li><a href="/sell">Sell</a></li>
                    <li><a href="/adv_search">Advance Search</a></li>
                </ul>
                <form class="navbar-form pull-right">
                    <ul class="nav">
                        <li><a href="/current">Post & Request</a></li>
                        <li><a href="/completed">Sales & Purchase History</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li class="active"><a href=/about>About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <a class="brand" href="{{ logout }}">Logout</a>
                    </ul>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    <div class="hero-unit">
        <h2>Hi everyone!</h2>
        <br>
        <p>We are a team of 2 whose devoting our time during the summer break to improve the life of students in NUS through technology!</p>
        <br>
        <p>At the start of every semester, most student would struggle to source for cheap used textbooks deals from seniors</p>
        <p>That's why our first step to improving the life of NUS students is to create a portal just for this!</p>
        <br>
        <p>Piata is our solution to faciliate buying and selling of 2nd hand textbook for NUS Students</p>
        <p>The word Piata means market in Romanian and Rome is the birthplace for textbooks!</p>
        <br>
        <p>Hope you guys enjoy using our application! :)</p>
    </div>

    <hr>

    <footer>
        <p>&copy; Piata</p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/bootstrap/js/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
</body>
</html>
