<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Piata Current</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/bootstrap/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/main">Piata</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/main">Home</a></li>
                    <li><a href="/buy">Buy</a></li>
                    <li><a href="/sell">Sell</a></li>
                    <li><a href="/adv_search">Advance Search</a></li>
                </ul>
                <form class="navbar-form pull-right">
                    <ul class="nav">
                        <li class="active"><a href="/current">Request & Sales</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href=/about>About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <a class="brand" href="{{ logout }}">Logout</a>
                    </ul>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    {% if status == True %}
        <div class="alert alert-info">
            The Seller has been informed. In the mean time, you can also contact him via his User Profile Page.
        </div>
    {% endif %}
    <div class="hero-unit1">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
            <legend><strong>Current Sales</strong> <small>(click to expand/collapse)</small></legend>
        </a>
        <div id="collapseOne" class="accordion-body collapse in">
            {% if currSales.__len__() == 0 %}
                <strong>There are no books on sale.</strong><br><br>
            {% else %}
                {% for posts in currSales %}
                    <h4><strong>Module Code: {{ posts }}</strong></h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="span1"><p>#</p></th>
                            <th class="span1"><p>Sale Records</p></th>
                            <th class="span3"><p></p></th>
                            <th class="span5"><p></p>Details</p></th>
                            <th class="span2"><p class="text-center">Actions</p></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set count = 1 %}
                        {% for post in currSales[posts] %}
                            <tr>
                                <td>{{ count }}{% set count = count + 1 %}</td>
                                <td>{% if post.book_pic == None %}<img class="img-search" src="/images/nopic.png">{% else %}<img class="img-search" src="/sell/image/{{ post.key().id() }}">{% endif %}</td>
                                <td><strong>{{ post.book.title.title()|e }}</strong><br><small><i>{{ post.book.author.title()|e }}</i></small><br><small>{% if post.book.edition|e == '1' %} {{ post.book.edition|e }}<sup>st</sup> Edition
                                {% elif post.book.edition|e == '2' %} {{ post.book.edition|e }}<sup>nd</sup> Edition
                                {% elif post.book.edition|e == '3' %} {{ post.book.edition|e }}<sup>rd</sup> Edition
                                {% else %} {{ post.book.edition|e }}<sup>th</sup> Edition {% endif %}</small></td>
                                <td>
                                    <strong>Cost:</strong> ${{ post.cost|e }} <a href="/stats/{{ post.book.key() }}"><img class="image" src="/images/stats.png"></a><br>
                                    <strong>Condition of book:</strong> {% if not post.condition %} Nil {% else %}{% for condition in post.condition[:-1] %}<u>{{ condition }}</u>, {% endfor %}<u>{{ post.condition[-1] }}</u>{% endif %}<br>
                                    <strong>Comment:</strong> {% if post.comment != "" %}{{ post.comment|e }}{% else %} Nil {% endif %}
                                </td>
                                <td>
                                    {% if post.status == "Pre-Completed" %}
                                        {% if post.seller == None %}
                                            <a href="/profile/user/{{ post.matched_request.user.key().name()}}" class="btn btn-small btn-success span1">Reply</a>
                                            <div class="btn-group">
                                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                                    Status
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a data-toggle="dropdown" href="#">Completed</a></li>
                                                    <li><a data-toggle="dropdown" href="#">Deal Cancelled</a></li>
                                                </ul>
                                            </div>
                                        {% else %}
                                            <a href="/profile/user/{{ post.seller.key().name()}}" class="btn btn-small btn-success span1">Reply</a>
                                            <div class="btn-group">
                                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                                    Status
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a data-toggle="dropdown" href="#">Completed</a></li>
                                                    <li><a data-toggle="dropdown" href="#">Deal Cancelled</a></li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <a href="/sell/edit/{{ post.key().id() }}" class="btn btn-small btn-info span1">Edit</a><br><br>
                                        <a href="/current/delete/{{ post.key().id() }}" class="btn btn-small btn-info span1">Delete</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            {% endif %}
        </div>

        <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
            <legend><strong>Current Request</strong> <small>(click to expand/collapse)</small></legend>
        </a>
        <div id="collapseTwo" class="accordion-body collapse">
            {% if currRequests.__len__() == 0 %}
                <strong>There are no books on request.</strong><br><br>
            {% else %}
                {% for requests in currRequests %}
                    <h4><strong>Module Code: {{ requests }}</strong></h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="span1"><p>#</p></th>
                            <th class="span4"><p>Title of Book</p></th>
                            <th class="span3"><p>Author</p></th>
                            <th class="span2"><p>Edition</p></th>
                            <th class="span2"><p>Cost Range</p></th>
                            <th class="span4"><p>Condition</p></th>
                            <th class="span2"><p>Status</p></th>
                            <th class="span2"><p class="text-center">Actions</p></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set count = 1 %}
                        {% for request in currRequests[requests] %}
                            <tr>
                                <td>{{ count }}{% set count = count + 1 %}</td>
                                <td><strong>{{ request.book.title.title()|e }}</strong></td>
                                <td><small><i>{{ request.book.author.title()|e }}</i></small></td>
                                <td><small>{% if request.book.edition|e == '1' %} {{ request.book.edition|e }}<sup>st</sup> Edition
                                {% elif request.book.edition|e == '2' %} {{ request.book.edition|e }}<sup>nd</sup> Edition
                                {% elif request.book.edition|e == '3' %} {{ request.book.edition|e }}<sup>rd</sup> Edition
                                {% else %} {{ request.book.edition|e }}<sup>th</sup> Edition {% endif %}</small></td>
                                <td>{{ request.cost_range|e }}</td>
                                <td>{% if not request.condition %} Nil {% else %}{% for condition in request.condition[:-1] %}<u>{{ condition }}</u>, {% endfor %}<u>{{ request.condition[-1] }}</u>{% endif %}<br></td>
                                <td>{{ request.status|e }}</td>
                                <td>
                                    {% if request.status|e == 'Matched' or request.status|e == 'Pre-Completed' %}
                                        <a href="/matched/{{ request.key().id() }}" class="btn btn-small btn-success span1">Deal</a>
                                    {% else %}
                                        <a href="/buy/edit/{{ request.key().id() }}" class="btn btn-small btn-info span1">Edit</a>
                                    {% endif %}
                                    <br><br>
                                    {% if request.status|e != "Pre-Completed" %}
                                        <a href="/current/delete/{{ request.key().id() }}" class="btn btn-small btn-info span1">Delete</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            {% endif %}
        </div>

        {% if pending.__len__() != 0 %}
            <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                <legend><strong>Pending</strong> <small>(click to expand/collapse)</small></legend>
            </a>
            <div id="collapseThree" class="accordion-body collapse">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="span1"><p>#</p></th>
                        <th class="span1"><p>Sale Records</p></th>
                        <th class="span3"><p></p></th>
                        <th class="span5"><p>Details</p></th>
                        <th class="span2"><p class="text-center">Actions</p></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set count = 1 %}
                    {% for post in pending %}
                        <tr>
                            <td>{{ count }}{% set count = count + 1 %}</td>
                            <td>{% if post.book_pic == None %}<img class="img-search" src="/images/nopic.png">{% else %}<img class="img-search" src="/sell/image/{{ post.key().id() }}">{% endif %}</td>
                            <td><strong>{{ post.book.title.title()|e }}</strong><br><small><i>{{ post.book.author.title()|e }}</i></small><br><small>{% if post.book.edition|e == '1' %} {{ post.book.edition|e }}<sup>st</sup> Edition
                            {% elif post.book.edition|e == '2' %} {{ post.book.edition|e }}<sup>nd</sup> Edition
                            {% elif post.book.edition|e == '3' %} {{ post.book.edition|e }}<sup>rd</sup> Edition
                            {% else %} {{ post.book.edition|e }}<sup>th</sup> Edition {% endif %}</small></td>
                            <td>
                                <strong>Module Code:</strong> {{ post.module.module_code|e }}<br>
                                <strong>Seller:</strong><a href='/profile/user/{{ post.user.key().name()}}'> {{ post.user.key().name()|e }}</a><br>
                                <strong>Cost:</strong> ${{ post.cost|e }} <a href="/stats/{{ post.book.key() }}"><img class="image" src="/images/stats.png"></a><br>
                                <strong>Condition of book:</strong> {% if not post.condition %} Nil {% else %}{% for condition in post.condition[:-1] %}<u>{{ condition }}</u>, {% endfor %}<u>{{ post.condition[-1] }}</u>{% endif %}<br>
                                <strong>Comment:</strong> {% if post.comment != "" %}{{ post.comment|e }}{% else %} Nil {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-small btn-danger disabled span1">On Hold</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

    <hr>

    <footer>
        <p>&copy; Piata</p>
    </footer>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/bootstrap/js/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap-dropdown.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>
</body>
</html>
