<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Your Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../css/public_main.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand">Piata</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/main">Home</a></li>
                    <li><a href="/buy">Post Book</a></li>
                    <li><a href="/sell">Request Book</a></li>
                    <li><a href="/adv_search">Advance Search</a></li>
                </ul>
                <form class="navbar-form pull-right">
                    <ul class="nav">
                        <li class="active"><a href="#">Profile</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <a class="brand" href="{{ logout }}">Logout</a>
                    </ul>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <form class="form-horizontal" action="/profile/update" method="post">
            <legend>Personal Information</legend>
            <div class="control-group">
                <label class="control-label">First Name:</label>
                <div class="controls">
                    <input type="text" name="first_name" value={{ currUser.first_name|e }}>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Last Name:</label>
                <div class="controls">
                    <input type="text" name="last_name" value={{ currUser.last_name|e }}>
                </div>
            </div>
             <div class="control-group">
                <label class="control-label">Email:</label>
                <div class="controls">
                    <span class="uneditable-input">{{ email|e }}</span>
                </div>
            </div>
           <div class="control-group">
                <label class="control-label">Contact Number (HP):</label>
                <div class="controls">
                    <input class="input-medium" type="text" name="hp_num" value={{ currUser.hp_num|e }}>
                    <span class="help-inline"><input type="checkbox" name="hp_num_vis" {% if currUser.hp_num_vis == True %} checked {% endif %}><small>&nbspHide</small></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">(H):</label>
                <div class="controls">
                    <input class="input-medium" type="text" name="home_num" value={{ currUser.home_num|e }}>
                    <span class="help-inline"><input type="checkbox" name="home_num_vis"  {% if currUser.home_num_vis == True %} checked {% endif %}><small>&nbspHide</small></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Address:</label>
                <div class="controls">
                    <textarea style="overflow:auto;resize:none" name="address" value={{ currUser.address|e }}></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Postal Code:</label>
                <div class="controls">
                    <input class="input-mini" type="text" name="postal_code" value={{ currUser.postal_code|e }}>
                </div>
            </div>
            <legend>Institute Information</legend>
            <div class="control-group">
                <label class="control-label">Institute:</label>
                <div class="controls">
                    <input type="text" name="institute" value={{ currUser.institute|e }}>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Faculty:</label>
                <div class="controls">
                    <input type="text" name="faculty" value={{ currUser.faculty|e }}>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Course:</label>
                <div class="controls">
                    <input type="text" name="course" value={{ currUser.course|e }}>
                </div>
            </div>
            <div class="span1 offset3"><button class="btn btn-small btn-info" type="submit">Submit</button></div>
        </form>
    </div>

    <hr>

    <footer>
        <p>&copy; Piata</p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../bootstrap/js/jquery.js"></script>
<script src="../bootstrap/js/bootstrap-transition.js"></script>
<script src="../bootstrap/js/bootstrap-alert.js"></script>
<script src="../bootstrap/js/bootstrap-modal.js"></script>
<script src="../bootstrap/js/bootstrap-dropdown.js"></script>
<script src="../bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="../bootstrap/js/bootstrap-tab.js"></script>
<script src="../bootstrap/js/bootstrap-tooltip.js"></script>
<script src="../bootstrap/js/bootstrap-popover.js"></script>
<script src="../bootstrap/js/bootstrap-button.js"></script>
<script src="../bootstrap/js/bootstrap-collapse.js"></script>
<script src="../bootstrap/js/bootstrap-carousel.js"></script>
<script src="../bootstrap/js/bootstrap-typeahead.js"></script>

</body>
</html>
