<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Your Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <script>
        var blank="/images/nopic.png";
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img_prev').attr('src', e.target.result).height(200);
                };
                reader.readAsDataURL(input.files[0]);
            }
            else {
                var img = input.value;
                $('#img_prev').attr('src',img).height(200);
            }
        }
    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/bootstrap/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand">Piata</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/main">Home</a></li>
                    <li><a href="/buy">Post Book</a></li>
                    <li><a href="/sell">Request Book</a></li>
                    <li><a href="/current">Current Sales</a></li>
                    <li><a href="/adv_search">Advance Search</a></li>
                </ul>
                <form class="navbar-form pull-right">
                    <ul class="nav">
                        <li class="active"><a href="/profile">Profile</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <a class="brand" href="{{ logout }}">Logout</a>
                    </ul>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>


<div class="container">
    <form class="form-horizontal" action="/profile/update" method="post" enctype="multipart/form-data">
        {% if initial == True %}
            <div class="alert alert-warning">
                <strong>Fill up the information below to allow us to serve you better!</strong>
            </div>
        {% endif %}
        <div class="hero-unit">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span8">
                        <div class="hero-unit">
                            <legend><strong>Personal Information</strong></legend>
                            <div class="control-group">
                                <label class="control-label">Email:</label>
                                <div class="controls">
                                    <span class="uneditable-input">{{ email|e }}</span>
                                </div>
                            </div>
                            {% for fields in userform %}
                                {% if fields.id != 'profile_pic' %}
                                    <div class="control-group">
                                        <label class="control-label">{{ fields.label }}</label>
                                        <div class="controls">
                                            {% if fields.id == 'address' %}
                                                <textarea style="overflow:auto;resize:none" id={{ fields.id }} name={{ fields.id }}>{{ fields.data }}</textarea>
                                            {% else %}
                                                {{ fields }} {% for error in fields.errors %} <span class="help-inline"><small><p class="text-error">{{ error }}</p></small></span> {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <legend><strong>Institute Information</strong></legend>
                            {% for fields in insform %}
                                <div class="control-group">
                                    <label class="control-label">{{ fields.label }}</label>
                                    <div class="controls">
                                        {{ fields }} {% for error in fields.errors %} <span class="help-inline"><small><p class="text-error">{{ error }}</p></small></span> {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="span1 offset5"><button class="btn btn-small btn-info" type="submit">Update</button></div>
                                <div class="span1 offset1"><a href="/profile" class="btn btn-small btn-info">&nbsp&nbspBack&nbsp&nbsp</a></div>
                            </div>

                        </div>
                    </div>
                    <div class="span4">
                        <div class="hero-unit">
                            <legend><strong>Profile Picture</strong></legend>
                            <div class="row">
                                {% if currUser.profile_pic == None %}
                                    <img id="img_prev" class="img-polaroid" src="../images/nopic.png">
                                {% else %}
                                    <img id="img_prev" class="img-polaroid" src='/profile/image'>
                                {% endif %}
                                <div class="row">
                                    <input id="profile_pic" name="profile_pic" type="file" onchange="readURL(this);" style="visibility: hidden">
                                    <span class="help-inline text-center"><small><p class="text-error">{{ image_error }}</p></small></span>
                                    <div class="row">
                                        <div class="span2 offset1"><small>Rating:</small></div>
                                        <span class="offset1 help-inline"><img src='/images/{{ currUser.rating|e }}stars.png' width="150px"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <hr>

    <footer>
        <p>&copy; Piata</p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/bootstrap/js/jquery.js"></script>
<script src="/bootstrap/js/bootstrap-transition.js"></script>
<script src="/bootstrap/js/bootstrap-alert.js"></script>
<script src="/bootstrap/js/bootstrap-modal.js"></script>
<script src="/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="/bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="/bootstrap/js/bootstrap-tab.js"></script>
<script src="/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="/bootstrap/js/bootstrap-popover.js"></script>
<script src="/bootstrap/js/bootstrap-button.js"></script>
<script src="/bootstrap/js/bootstrap-collapse.js"></script>
<script src="/bootstrap/js/bootstrap-carousel.js"></script>
<script src="/bootstrap/js/bootstrap-typeahead.js"></script>
<script>
    $("img").click(function(){
        $("input[name=profile_pic]").trigger('click');
    });
</script>
</body>
</html>
