<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ro-RO">
    <head profile="http://gmpg.org/xfn/11">
        <title>Error 404</title>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Language" content="ro"/>
        <meta name="robots" content="all,index,follow"/>
        <meta name="keywords" content="mogoolab, templates, 404 error page"/>
        <meta name="description" content="Traffic HTML Error Pages v 1.0 . Developed by MogooLab - www.mogoolab.com"/>
        <meta name="publisher" content="mogoolab.com" />
        <meta name="author" content="mogoolab.com" />
        <meta http-equiv="X-UA-Compatible" content="IE=8">
        <link rel="stylesheet" type="text/css" media="all" href="/css/error.css" />
    </head>

    <body>
        <div class="wrapper">
                <div class="mainWrapper">
                    <div class="mainHolder">
                        <div class="message">Oooops....we cant reach that page.<a href="/"> Return</a></div>
                        <div class="errorNumber">404</div>
                        <div class="trafficLight">404 Error</div>
                    </div>
                    <!-- end .mainHolder -->
                    <footer>
                        <p class="copy">&copy Piata</p>
                    </footer>
                    <!-- end footer -->
                </div>
             <!-- end .mainWrapper -->
        </div>
        <!-- end .wrapper -->
    </body>
</html>