<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Your Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../bootstrap/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand">Piata</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/main">Home</a></li>
                    <li><a href="/buy">Post Book</a></li>
                    <li><a href="/sell">Request Book</a></li>
                    <li><a href="/adv_search">Advance Search</a></li>
                </ul>
                <form class="navbar-form pull-right">
                    <ul class="nav">
                        <li class="active"><a href="#">Profile</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <a class="brand" href="{{ logout }}">Logout</a>
                    </ul>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    <div class="hero-unit">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span8">
                    <div class="hero-unit">
                        <legend><strong>Personal Information</strong>&nbsp&nbsp&nbsp<a href="/profile/edit" class="btn btn-small btn-info">Edit</a></legend>
                        <div class="row">
                            <div class="span2 offset1"><small><strong>Email</strong></small></div>
                            <div class="span5 offset1"><small>{{ email|e }}</small></div>
                        </div>
                        <div class="row">
                            <div class="span2 offset1"><small><strong>First&nbspName</strong></small></div>
                            <div class="span5 offset1"><small>{% if currUser.first_name != "" %}{{ currUser.first_name|e }}{% else %} - {% endif %}</small></div>
                        </div>
                        <div class="row">
                            <div class="span2 offset1"><small><strong>Last&nbspName</strong></small></div>
                            <div class="span5 offset1"><small>{% if currUser.last_name != "" %}{{ currUser.last_name|e }}{% else %} - {% endif %}</small></div>
                        </div>
                        <div class="row">
                            <div class="span2 offset1"><small><strong>Address</strong></small></div>
                            <div class="span3 offset1"><small>{% if currUser.address != "" %}{{ currUser.address|e }}{% else %} - {% endif %}</small></div>
                        </div>
                        <div class="row">
                            <div class="span2 offset1"><small><strong>Postal&nbspCode</strong></small></div>
                            <div class="span3 offset1"><small>{% if currUser.postal_code != "" %}{{ currUser.postal_code|e }}{% else %} - {% endif %}</small></div>
                        </div>
                        <div class="row">
                            <div class="span2 offset1"><small><strong>Contact&nbspNumber</strong></small></div>
                            <div class="span3 offset1"><small>{% if currUser.contact_num != "" %}{{ currUser.contact_num|e }}{% else %} - {% endif %}</small></div>
                        </div>
                        {% if currUser.contact_num != "" %}
                            <div class="row">
                                <div class="span2 offset1"><small><strong>Contact&nbspVisbility</strong></small></div>
                                <div class="span5 offset1"><small>{% if currUser.contact_num_hide == True %}Hidden from other users{% else %}Viewable by other users{% endif %}</small></div>
                            </div>
                        {% endif %}
                        <br>
                        <legend><strong>Institute Information</strong></legend>
                        <div class="row">
                            <div class="span2 offset1"><small><strong>Institute</strong></small></div>
                            <div class="span5 offset1"><small>{% if currUser.institute != "" %}{{ currUser.institute|e }}{% else %} - {% endif %}</small></div>
                        </div>
                        <div class="row">
                            <div class="span2 offset1"><small><strong>Faculty</strong></small></div>
                            <div class="span5 offset1"><small>{% if currUser.faculty != "" %}{{ currUser.faculty|e }}{% else %} - {% endif %}</small></div>
                        </div>
                        <div class="row">
                            <div class="span2 offset1"><small><strong>Course</strong></small></div>
                            <div class="span5 offset1"><small>{% if currUser.course != "" %}{{ currUser.course|e }}{% else %} - {% endif %}</small></div>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="hero-unit">
                        <legend><strong>Profile Picture</strong></legend>
                        <div class="row">
                            {% if currUser.profile_pic == None %}
                                <img class="img-polaroid" src="../images/nopic.png">
                            {% else %}
                                <img class="img-polaroid" src='/profile/image'>
                            {% endif %}
                            <div class="row">
                                <br>
                                <div class="span2 offset1"><small><strong>Rating</strong></small></div>
                                <span class="offset1 help-inline"><img src='/images/{{ currUser.rating|e }}stars.png' width="150px"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Piata</p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../bootstrap/js/jquery.js"></script>
<script src="../bootstrap/js/bootstrap-transition.js"></script>
<script src="../bootstrap/js/bootstrap-alert.js"></script>
<script src="../bootstrap/js/bootstrap-modal.js"></script>
<script src="../bootstrap/js/bootstrap-dropdown.js"></script>
<script src="../bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="../bootstrap/js/bootstrap-tab.js"></script>
<script src="../bootstrap/js/bootstrap-tooltip.js"></script>
<script src="../bootstrap/js/bootstrap-popover.js"></script>
<script src="../bootstrap/js/bootstrap-button.js"></script>
<script src="../bootstrap/js/bootstrap-collapse.js"></script>
<script src="../bootstrap/js/bootstrap-carousel.js"></script>
<script src="../bootstrap/js/bootstrap-typeahead.js"></script>

</body>
</html>
