<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Piata Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/bootstrap/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Piata</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about_us">About Us</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                </ul>
                <form class="navbar-form pull-right">
                    <a class="brand">Login using: </a>
                    <ul class="nav">
                        <li><a href="#"><img class="image" src="../images/nus.png"></a></li>
                        <li><a href="/login"><img class="image" src="../images/google.png"></a></li>
                        <li><a href="#"><img class="image" src="../images/facebook.png"></a></li>
                    </ul>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    {% if search == False %}
        <h2 class="text-error"><em>Latest News</em></h2>
        <div class="bs-docs-example">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/images/nus.png" alt="">
                        <div class="carousel-caption">
                            <h4>1st Dummy</h4>
                            <p>This is just dummy data. Testing in progress</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/nus.png" alt="">
                        <div class="carousel-caption">
                            <h4>2nd Dummy</h4>
                            <p>This is just dummy data. Testing in progress</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/nus.png" alt="">
                        <div class="carousel-caption">
                            <h4>3rd Dummy</h4>
                            <p>This is just dummy data. Testing in progress</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
    {% endif %}
    <form class="form-search form-horizontal" action="/" method="post" enctype="multipart/form-data">
        <div class="hero-unit">
            <legend><strong>Search Books</strong></legend>
            {% for fields in searchform %}
                <div class="control-group input-append">
                    <label class="control-label">{{ fields.label }}: </label>
                    <div class="controls">
                        {% if fields.id == 'search_field' %}
                            <input id="search_field" name="search_field" type="text" class="span5 search-query" placeholder="Enter search term" {% if fields.data != None %}value={{ fields.data }} {% endif %} >
                            <button type="submit" class="btn">Search</button>
                        {% else %}
                            {{ fields }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
    {% if search %}
        <div class="hero-unitplain">
            <legend><strong>Search Results</strong></legend>
            {% if searchResult.__len__() == 0 %}
                No results... Try again with another term.
            {% else %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="span1"><p>#</p></th>
                        <th class="span1"><p>Sale Records</p></th>
                        <th class="span3"><p></p></th>
                        <th class="span5"><p></p>Details</p></th>
                        <th class="span2"><p class="text-center">Actions</p></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set count = 1 %}
                    {% for records in searchResult %}
                        <tr>
                            <td>{{ count }}{% set count = count + 1 %}</td>
                            <td>{% if records.book_pic == None %}<img class="img-search" src="/images/nopic.png">{% else %}<img class="img-search" src="/sell/image/{{ records.key().id() }}">{% endif %}</td>
                            <td><strong>{{ records.book.title|e }}</strong><br><small><i>{{ records.book.author|e }}</i></small><br><small>{% if records.book.edition|e == '1' %} {{ post.book.edition|e }}<sup>st</sup> Edition
                            {% elif records.book.edition|e == '2' %} {{ records.book.edition|e }}<sup>nd</sup> Edition
                            {% elif records.book.edition|e == '3' %} {{ records.book.edition|e }}<sup>rd</sup> Edition
                            {% else %} {{ records.book.edition|e }}<sup>th</sup> Edition {% endif %}</small></td>
                            <td>
                                <strong>Module Code:</strong> {{ records.module.module_code|e }}<br>
                                <strong>Seller:</strong><a href="#"> {{ records.user.key().name()|e }}</a><br>
                                <strong>Cost:</strong> ${{ records.cost|e }}<br>
                                <strong>Condition of book:</strong> {% if not records.condition %} Nil {% else %}{% for condition in records.condition[:-1] %}<u>{{ condition }}</u>, {% endfor %}<u>{{ records.condition[-1] }}</u>{% endif %}<br>
                                <strong>Comment:</strong> {% if records.comment != "" %}{{ records.comment|e }}{% else %} Nil {% endif %}
                            </td>
                            <td><a href="#" class="btn btn-small btn-info span1">Buy</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    {% endif %}
    <hr>
    <footer>
        <p>&copy; Piata</p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/bootstrap/js/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script>
    !function ($) {
        $(function(){
            // carousel demo
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>
</body>
</html>
