<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Piata Sell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../css/public_main.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand">Piata</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="main">Home</a></li>
                    <li><a href="/buy">Post Book</a></li>
                    <li class="active"><a href="#">Request Book</a></li>
                    <li><a href="/adv_search">Advance Search</a></li>
                </ul>
                <form class="navbar-form pull-right">
                    <ul class="nav">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <a class="brand" href="{{ logout }}">Logout</a>
                    </ul>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <form class="form-horizontal" action="/sell/submit" method="post">
        <div class="hero-unit">
            <legend><strong>Book Information</strong></legend>
            <div class="row-fluid">
                <div class="span9">
                    {% for fields in book_form %}
                        {% if fields.type != 'BooleanField' and fields.id != "comment" %}
                            <div class="control-group">
                                <label class="control-label">{{ fields.label }}</label>
                                <div class="controls">
                                    {{ fields }} {% for error in fields.errors %} <span class="help-inline"><small><p class="text-error">{{ error }}</p></small></span> {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="span2">
                    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
                    <script>
                        var blank="../images/nopic.png";
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();

                                reader.onload = function (e) {
                                    $('#img_prev')
                                            .attr('src', e.target.result)
                                            .height(200);
                                };

                                reader.readAsDataURL(input.files[0]);
                            }
                            else {
                                var img = input.value;
                                $('#img_prev').attr('src',img).height(200);
                            }
                        }
                    </script>
                    <style>
                        article, aside, figure, footer, header, hgroup,
                        menu, nav, section { display: block; }
                        #previewPane { display: inline-block; max-width: 180px; max-height: 180px; width: 100%; height: 100%;}
                    </style>
                    <span id="previewPane">
                        <img id="img_prev" class="img-polaroid" src="../images/nopic.png"/>
                    </span>
                    <script>
                        $("img").click(function(){
                            $("input[name=upload]").trigger('click');
                        });
                    </script>
                    <input name="upload" type='file' onchange="readURL(this);" style="visibility: hidden"/><br/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Condition</label>
                <div class="controls">

                    <div class="row-fluid">
                        <div class="span2">
                            <label class="checkbox inline">
                                <input type="checkbox" id='condition_stains' value= 'stains' name="conditions"> Stains
                            </label>
                        </div>
                        <div class="span2">
                            <label class="checkbox inline">
                                <input type="checkbox" id='condition_writings' value= 'writings' name="conditions"> Writings
                            </label>
                        </div>
                        <div class="span2">
                            <label class="checkbox inline">
                                <input type="checkbox" id='condition_highlights' value= 'highlights' name="conditions"> Highlights
                            </label>
                        </div>
                    </div>

                </div>

                <div class="controls">
                    <div class="row-fluid">
                        <div class="span2">
                            <label class="checkbox inline">
                                <input type="checkbox" id='condition_dog_eared' value= 'dog_eared' name="conditions"> Dog-Eared
                            </label>
                        </div>
                        <div class="span2">
                            <label class="checkbox inline">
                                <input type="checkbox" id='condition_torn' value= 'torn' name="conditions"> Torn
                            </label>
                        </div>
                        <div class="span2">
                            <label class="checkbox inline">
                                <input type="checkbox" id='condition_wrapped' value= 'wrapped' name="conditions"> Wrapped
                            </label>
                        </div>
                    </div>
                </div>

                <div class="controls">
                    <div class="row-fluid">
                        <div class="span2">
                            <label class="checkbox inline">
                                <input type="checkbox" id='condition_not_used_once' value= 'not_used_once' name="conditions"> Not Used Once
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Comments</label>
                <div class="controls">
                    <textarea style="overflow: auto;resize: none" id="inputComment" name="comments"></textarea>
                </div>
            </div>

            <div class="span4 offset3">
                <button type="submit" class="btn">Sign in</button>
            </div>
        </div>
    </form>
    <hr>
    <footer>
        <p>&copy; Piata</p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../bootstrap/js/jquery.js"></script>
<script src="../bootstrap/js/bootstrap-transition.js"></script>
<script src="../bootstrap/js/bootstrap-alert.js"></script>
<script src="../bootstrap/js/bootstrap-modal.js"></script>
<script src="../bootstrap/js/bootstrap-dropdown.js"></script>
<script src="../bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="../bootstrap/js/bootstrap-tab.js"></script>
<script src="../bootstrap/js/bootstrap-tooltip.js"></script>
<script src="../bootstrap/js/bootstrap-popover.js"></script>
<script src="../bootstrap/js/bootstrap-button.js"></script>
<script src="../bootstrap/js/bootstrap-collapse.js"></script>
<script src="../bootstrap/js/bootstrap-carousel.js"></script>
<script src="../bootstrap/js/bootstrap-typeahead.js"></script>

</body>
</html>
