<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Piata Sell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../css/public_main.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand">Piata</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="main">Home</a></li>
                    <li><a href="/buy">Post Book</a></li>
                    <li class="active"><a href="#">Request Book</a></li>
                    <li><a href="/adv_search">Advance Search</a></li>
                </ul>
                <form class="navbar-form pull-right">
                    <ul class="nav">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <a class="brand" href="{{ logout }}">Logout</a>
                    </ul>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    <h1>Request Book</h1>
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <form class="form-horizontal" action="/sell/submit" method="post">
            <div class="control-group">
                <label class="control-label">Module Code</label>
                <div class="controls">
                    <input type="text" id="inputModule" name="module">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Title</label>
                <div class="controls">
                    <input type="text" id="inputTitle" name="title">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Author</label>
                <div class="controls">
                    <input type="text" id="inputAuthor" name="author">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Publisher</label>
                <div class="controls">
                    <input type="text" id="inputPublisher" name="publisher">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Edition</label>
                <div class="controls">
                    <input type="text" id="inputEdition" name="edition">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Cost</label>
                <div class="controls">
                    <input type="text" id="inputCost" name="cost">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Condition</label>

                <div class="controls">
                    <label class="checkbox inline">
                        <input type="checkbox" id="highlights" value="highlights" name="asd"> Highlights
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" id="stains" value="stains" name="asd"> Stains
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" id="writings" value="writings" name="asd"> Writings
                    </label>
                </div>

                <div class="controls">
                    <label class="checkbox inline">
                        <input type="checkbox" id="dog_eared" value="dog_eared" name="asd"> Dog Eared
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" id="slight_torn" value="slight_torn" name="asd"> Slight Torn
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" id="not_used_once" value="not_used_once" name="asd"> Not Used Once
                    </label>
                </div>

                <div class="controls">
                    <label class="checkbox inline">
                        <input type="checkbox" id="sever_torn" value="sever_torn"> Sever Torn
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" id="wrapped" value="wrapped"> Wrapped
                    </label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Comments</label>
                <div class="controls">
                    <textarea style="overflow: auto;resize: none" id="inputComment" name="comments"></textarea>
                </div>
            </div>

            <div class="span4 offset3">
                <button type="submit" class="btn">Sign in</button>
            </div>
        </form>

        <br><br>
        <footer>
            <p>&copy; Piata</p>
        </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../bootstrap/js/jquery.js"></script>
    <script src="../bootstrap/js/bootstrap-transition.js"></script>
    <script src="../bootstrap/js/bootstrap-alert.js"></script>
    <script src="../bootstrap/js/bootstrap-modal.js"></script>
    <script src="../bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="../bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="../bootstrap/js/bootstrap-tab.js"></script>
    <script src="../bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="../bootstrap/js/bootstrap-popover.js"></script>
    <script src="../bootstrap/js/bootstrap-button.js"></script>
    <script src="../bootstrap/js/bootstrap-collapse.js"></script>
    <script src="../bootstrap/js/bootstrap-carousel.js"></script>
    <script src="../bootstrap/js/bootstrap-typeahead.js"></script>

</body>
</html>
